# A new scriv changelog fragment.
#
# Uncomment the section that is right for this fragment:
#
# Added
# -----
# * New feature or functionality
#
# Changed
# -------
# * Changes to existing functionality
#
# Deprecated
# ----------
# * Features that will be removed in future releases
#
# Removed
# -------
# * Features that have been removed
#
# Fixed
# -----
# * Bug fixes
#
# Security
# --------
# * Security-related changes
